.employee-directory {
  padding: 20px;
  color: white;
  background: var(--bg);
color: var(--text);

}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.add-btn {
  background: linear-gradient(90deg, #2563eb, #3b82f6);
  color: white;
  border: none;
  padding: 10px 18px;
  border-radius: 8px;
  cursor: pointer;
  font-weight: 600;
}

.employee-table {
  width: 100%;
  margin-top: 20px;
  border-collapse: collapse;
  background: rgba(30, 41, 59, 0.8);
  border-radius: 12px;
  overflow: hidden;
}

th, td {
  padding: 12px;
  text-align: left;
}

th {
  background: #1e293b;
}

.profile-img {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid #3b82f6;
}

.edit-btn, .delete-btn {
  background: transparent;
  border: none;
  cursor: pointer;
  font-size: 1.2rem;
}

.delete-btn {
  color: #ef4444;
}

.edit-btn:hover {
  color: #22c55e;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.modal {
  background: #1e293b;
  padding: 25px;
  border-radius: 12px;
  width: 350px;
}

.modal input {
  width: 100%;
  padding: 8px;
  background: #0f172a;
  border: 1px solid #334155;
  border-radius: 6px;
  color: white;
  margin-bottom: 8px;
}

.save-btn {
  background: #22c55e;
  border: none;
  padding: 8px 12px;
  border-radius: 6px;
  color: white;
  cursor: pointer;
}

.cancel-btn {
  background: #ef4444;
  border: none;
  padding: 8px 12px;
  border-radius: 6px;
  color: white;
  cursor: pointer;
  margin-left: 10px;
}

.assign-btn-floating {
  position: fixed;
  bottom: 40px;
  right: 40px;
  background: linear-gradient(90deg, #2563eb, #3b82f6);
  color: white;
  border: none;
  padding: 12px 20px;
  border-radius: 50px;
  font-weight: 600;
  cursor: pointer;
  box-shadow: 0 5px 15px rgba(0,0,0,0.3);
}
